#root{
    --resplandoCard: aqua;
  

}
body{
   /*background-color: rgb(33, 38, 41);*/
   background-color: rgb(15, 31, 119);
    color: #ffffff;
    --main-color: rgb(12, 219, 226);
    --bg-color: rgb(33, 38, 41);
    --bg-about:  rgb(34, 44, 51);
}

#navBar{
    display: flex;
    position: fixed;
    z-index: 99;

    margin-left: 2%;
    margin-top: 10px;

    background-color:rgba(32, 173, 255, 0.418);
    backdrop-filter:blur(10px);
    border-radius: 10px;    
    color:white;

    width: 96%;
    min-height: 4.5rem; 
}




#navDirA{
    font-size: 22px;
 padding-left: 30px;
    font-weight: 400;
    color:white;
   text-decoration: none;
}
#navDirA:hover{
    font-size: 22px;
    font-weight: 400;
    color: var(--main-color);
   text-decoration: none;
}

.devImg{
    position: relative;
    z-index: 98;
   
    margin-left: 55%;
    margin-top: -30%;
     
    
   
}   
.devImgSrc{
    
    width: 5rem;
}  

@media (max-width: 1100px){
    .devImg{
        display:none;
        position: relative;
        z-index: 98;
        margin-left: 80%;
        margin-top: -240%;
         
        width: 5rem;
       
    }   
}

/*centramos y damos tamaño al hero*/
section{ 
    min-height: 100vh;
    padding: 9rem 10% 3rem; /*con esto automaticamente le damos un margen como un contenedor */

  
    align-items: center;

}
/**/

.section_hero{
    /* 
    background-image: radial-gradient(at 21% 13%, hsla(188,43%,38%,0.31) 0px, transparent 50%),
    radial-gradient(at 91% 39%, hsla(293,46%,10%,1) 0px, transparent 50%);
    background-color: #101648; */
    background-color: rgb(15, 31, 119);
 
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%236195cc' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%232b52aa' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%235b7bc6' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%232844a3' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%235161bf' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2324369c' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%234546b8' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%231e2796' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23332ab1' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2316178f' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%231300aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23080088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

}
.section_about{
    /*background-color: var(--bg-about);*/
    background-color: rgb(15, 31, 119);
background-image:
radial-gradient(at 46% 61%, hsla(188,51%,32%,0.31) 0px, transparent 50%),
radial-gradient(at 2% 58%, hsla(293,48%,16%,1) 0px, transparent 50%);
}

.section_proyectos{
    
    background-color: rgba(21, 53, 140, 1);
background-image: radial-gradient(circle, rgba(21, 53, 140, 1) 6%, rgb(13, 13, 66) 75%);
}
/*monstroueo*/
.monster{
    background-color: black;
}
.mons{
    z-index: 99;
}

.section_contacto{
    background-color: aqua;
}

.hero_contenido{
    max-width: 60rem;
}
.hero_contenido h1{
    font-size: 3.6rem;
    font-weight: 700;
}

.animacion{
    position:relative;

}

.animacion h3{
    font-size: 2.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
}
.btn button{
    
 margin-right: 20px;

 color: #1D9AF2;
 background-color: #292D3E;
 border: 1px solid #1D9AF2;
 border-radius: 30px;
 padding: 16px 18px 45px 17px;
 cursor: pointer;
 height: 32px;
 font-size: 15px;
 font-weight: 500;

 box-shadow: 0 0 4px #999;
 outline: none;
 background-position: center;
 transition: background 0.8s;

}

@media(max-width: 550px){
    .btn button{
    
margin-right: 5px;
   
    }
}

.btn button:hover{
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
     center/15000%;
    color: white;
  }
.btn button:active{
    background-color: #292d3e;
    background-size: 100%;
    transition: background 0s;
  }


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

span{
    color: var(--main-color);
}

.texto_about{
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.img_about{
    position: relative;
   
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.img{
 width: 200px;
 
  z-index: 99;
    align-items: center;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.circulo {
    position: absolute;
    z-index: 1;
    top: 50%; /* Centra el círculo */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; /* Tamaño del círculo */
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 30px var(--main-color), 0 0 60px rgba(0, 150, 255, 0.6);
   
    
  }
  
  .circulo::before,
  .circulo::after {

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    
    border-radius: 50%;
    opacity: 0.8; /* Hacerlo más visible */
     animation: ripple 6s infinite ease-out ;
     box-shadow: 0 0 30px rgba(0, 255, 150, 0.8), 0 0 60px rgba(0, 150, 255, 0.6);
     box-shadow: 0 0 30px rgba(0, 150, 255, 0.6), inset 0 0 30px rgba(0, 150, 255, 0.6);
  }
  
  .circulo::after {
    animation-delay: 3s; /* Retraso para la segunda onda */
  }
  
  /* Animación */
  @keyframes ripple {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.8); /* Ondas más grandes */
      opacity: 0;
    }
  }
  @keyframes vibrate {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(-3px) translateY(3px);
  }
  50% {
    transform: translateX(3px) translateY(-3px);
  }
  75% {
    transform: translateX(-2px) translateY(2px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
  

.info_about{
    text-align: center;
}

.info_about h3 {
    font-size: 2rem;
}

.info_about p{
    text-align: justify;
    font-size: 1.3rem;
    margin: 2rem 0 3rem;
}


  .hero_contenido .tildeo {

    border-right: .1em solid var(--main-color);
    border-top: .06rem solid var(--main-color);
    border-bottom: .06rem solid var(--main-color);
    border-left: .1rem solid var(--main-color);
    animation: typing 6s steps(18) 1s 1 normal both, blink 1s steps(1) infinite;
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

#carta{

        background-color: rgb(31, 36, 39);
        color: rgb(255, 255, 255)
      
    
        
}
#carta img {
     object-fit:cover;
    height: 15rem;
  

}
#carta:hover{
    filter: drop-shadow(0 0 10px  rgb(12, 101, 202));
}
#butt{
    
   
    box-shadow: 0 0 4px #44d3ff;
    outline: none;
    background-position: center;
    transition: background 0.8s;
   }
